body {
  box-sizing: border-box;
  padding: 24px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px #00000040;
  box-sizing: border-box;
  border-radius: 6px;
}

.containers {
  max-width: inherit;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.container {
  border: 1px solid #121212;
  height: 400px;
}

.container h1 {
  font-size: 24px;
  font-weight: 400;
}
